
  <h1 style="text-align: center;" >Welcome to your dashboard</h1>

  <div class="form-group row ms-5 me-5 ">

        <a class="btn btn-outline-success"  >User Module</a>
        <button class="btn btn-outline-success"  >Product Module</button>
        <button class="btn btn-outline-success"  >facture Module</button>
        <button class="btn btn-outline-success"  >Category Module</button>
        <button class="btn btn-outline-success"  >Views Module</button>
        <button class="btn btn-outline-success"  >Promo Module</button>
    
  </div>